{% for team in teams %}
    {% if team.owner == request.user %}
        <div class="card bg-warning mb-3 base-card-style important-card-style" style="width: 10rem;">
    {% else %}
        <div class="card bg-secondary mb-3 base-card-style unimportant-card-style" style="width: 10rem;">
    {% endif %}
    <div class="card-header">{{ team.title }}</div>
    <div class="card-body">
        <div>
            {% include 'teams/home/render/user_team_permissions.html' %}
        </div>
        <small class="card-text">Owner: {{ team.owner }}</small>
    </div>
    </div>
    <hr>
{% endfor %}