{% for team in teams %}
    {% if team.team.owner == request.user %}
        <div class="card bg-warning mb-3" style="font-weight: 600; width: 10rem; margin: 0 auto; color: #3911d9;">
    {% else %}
        <div class="card bg-secondary mb-3" style="width: 10rem; margin: 0 auto; color: #cfd9e8;">
    {% endif %}
    <div class="card-header">{{ team.team.title }}</div>
    <div class="card-body">
        <div>
            {% include 'teams/home/render/user_team_permissions.html' %}
        </div>
        <small class="card-text">Owner: {{ team.team.owner }}</small>
    </div>
    </div>
    <hr>
{% endfor %}