{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'teams/css/teams_style.css' %}">
{% endblock links %}
{% block title %}<title>Manage Team | MK-TODOS</title>{% endblock title %}

{% block content %}<br>
    <div class="container">
        {% for error in errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-md">
                All Users:<br><br>
                {% for user in users %}
                    {% include 'teams/management/render/render_user.html' %}<br>
                {% endfor %}
                {% include 'pagination/paginator.html' with object=users %}
            </div>
            {% if is_trusted %}
                {% include 'teams/management/render/owner_team_control.html' %}
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'teams/js/teams_functionality.js' %}"></script>
{% endblock scripts %}