<form method="post" action="{% url 'accounts:change_theme' %}">
{% csrf_token %}
{% if dark_mode %}
    <a style="cursor: pointer;" onclick="parentNode.submit();" class="dropdown-item">Light mode</a>
{% else %}
    <a style="cursor: pointer;" onclick="parentNode.submit();" class="dropdown-item">Dark mode</a>
{% endif %}
</form>
<a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a>
<a class="dropdown-item" href="{% url 'accounts:delete_profile' %}" style="color: red;">Delete profile</a>